<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="card">
			<div class="card card-body">
				<h2>
					Hello <span th:utext="${name}" /> - Profile Page
				</h2>
			</div>
		</div>
		</br>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover table-striped table-bordered">
					<h3>List of Tournaments You Are Currently Registered In</h3>
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Buy In</th>
							<th>Prize Pool</th>
							<th>Player Amount</th>
							<th>Register</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tournament:${tournaments}">
							<td th:text="${tournament.id}"></td>
							<td th:text="${tournament.name}"></td>
							<td th:text="${tournament.buyIn}"></td>
							<td th:text="${tournament.prizePool}"></td>
							<td th:text="${tournament.playerAmount}"></td>
							<td><a th:href="@{/viewTournament(id=${tournament.id})}"
								class="btn btn-dark">View Tournament</a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

		<div class="container">
			<h2 align="center" style="color:white">Your Balance Since Registering</h2>

			<div id="container"
				style="width: 800px; height: 650px; margin: 0 auto"></div>
		</div>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script th:inline="javascript">
    $(function(){
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Your balance updating.'
        },
        subtitle: {
            text: 'Use this to track your progress'
        },
        xAxis: {
            categories: [[${surveyMap.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            max:500,
            title: {
                text: 'Amount in Euros'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} Euro</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Amount',
            color: 'black',
            data: [[${surveyMap.values()}]]
        }]
    });
    });
</script>
</body>
</div>
</body>
</html>